@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Advanced Database Topics</h1>
    <p>Student Information System</p>
    <p>Team Members
    <ul>Hari Krishna Siddamanickam - 104959671</ul>
    <ul>Charan Narayanan - 105004291</ul>
    <ul>Pradeep Pai - 104920927 </ul>
    <ul>Chandrasekhar - 104918812</ul>
    </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Students", "Index", "Students")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Courses", "Index", "Courses")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Instructors", "Index", "Instructors")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Departments", "Index", "Departments")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("StudyTerms", "Index", "StudyTerms")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Registrations", "Index", "Registrations")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("TeachingAssignments", "Index", "TeachingAssignments")</h2>
    </div>

</div>