@model S1G4_SISDB1.Models.TeachingAssignments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeachingAssignments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Courses.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructors.InstructorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructors.InstructorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudyTerms.TermName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyTerms.TermName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
